main{
    padding: 20px 15%;
    background-color: #eaf6ff;
    border-radius: 10px;
}

h1{
    font-size: 1.6rem;
    font-weight: 700;
}

h2{
    font-size: 1.2rem;
    font-weight: 500;
}

.serminar {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.serminar .avatar {
    height: 300px;
    min-width: 300px;
    object-fit: cover;
}

.serminar .info {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: #9bd7ff;
}

.info .serminar-description{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.info .serminar-price{
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.sections{
    margin-top: 20px;
}

.section-item{
    margin-bottom: 10px;
}

.section-name{
    padding: 10px;
    display: flex;
    align-items: center;
    background: rgb(80, 200, 255);
}

.section-name span {
    margin-right: 10px;
}

.section-description {
    height: 150px;
    padding: 20px;
}

.section-description > p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.toggle-btn {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.toggle-btn > p {
    cursor: pointer;
    padding: 8px 16px 6px;
    border: solid 1px;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}